* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0B0B0B;
  color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 17px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
}

.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo a {
  font-size: 28px;
  font-weight: 700;
  color: #E10600;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .agora a {
  color: #E10600;
}

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 8% 60px;
  background: radial-gradient(circle at 50% 50%, rgba(225, 6, 0, 0.15), transparent 70%);
}


.card-cadastro {
  background: #161616;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  animation: fadeUp 1s ease;
}

.box {
  background: #161616;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  animation: fadeUp 1s ease;

}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-login h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
.card-cadastro h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 420px;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo span {
  font-size: 14px;
  font-weight: 500;
  color: #B3B3B3;
  margin-left: 5px;
}

.campo input {
  width: 100%;
  padding: 14px 18px;
  background: #0B0B0B;
  border: 1px solid #333;
  border-radius: 10px;
  color: #FFF;
  font-family: inherit;
  font-size: 15px;
  transition: 0.3s;
}

.campo input:focus {
  outline: none;
  border-color: #E10600;
  box-shadow: 0 0 15px rgba(225, 6, 0, 0.2);
}

.botao {
  margin-top: 10px;
  padding: 16px;
  background: #E10600;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.botao:hover {
  background: #FF2B2B;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(225, 6, 0, 0.3);
}

.link {
  margin-top: 20px;
  font-size: 17px;
  color: #B3B3B3;
  text-align: center;
}

.link a {
  color: #E10600;
  text-decoration: none;
   font-weight: 600;
  transition: 0.3s;
}

.register-footer {
  margin-top: 30px;
  text-align: center;
  color: #B3B3B3;
  font-size: 17px;
}

.register-footer a {
  color: #E10600;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.register-footer a:hover {
  color: #FF2B2B;
  text-decoration: underline;
}


.alerta_erro {
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.card_erro {
  background: #2c0402;
  border: 1px solid #ff4757;
  padding: 15px;
  border-radius: 10px;
  display: none;
  color: #ff4757;
  text-align: center;
  font-size: 14px;
}

.loading-div {
  display: none;
  justify-content: center;
  margin-top: 15px;
}

.loading-div img {
  width: 40px;
}

.footer {
  background: #000000;
  padding: 35px;
  text-align: center;
  color: #B3B3B3;
  margin-top: 40px;
}

.version {
  display: block;
  font-size: 11px;
  color: #555;
  margin-top: 5px;
}


@media(max-width: 600px) {
  .card-cadastro {
    padding: 30px 20px;
  }

  .card-cadastro h2 {
    font-size: 26px;
  }
}